* {
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 1.7px;
  line-height: 20px;
}

body {
  background-color: #AFCBD1;
  color: #5C4B28;
}

button {
  background-color: #636B73 !important;
  border-color: #636B73 !important;
}

form {
  color: #636B73 !important;
}

input {
  max-width: 220px;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

.nav-container {
  background: #0A2012;
  height: auto;
  padding: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-bottom: 20px;
}

.header-text {
  color: #44A4C4;
}

.call-text {
  color: #c6b047;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.call-text h4 {
  margin-top: -15px;
}

#empty-space {
  height: 75px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding: 0px;
  margin: 0px;
  height: 500px;
  width: 50%;
}

.table {
  margin: 0;
  display: table;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
}

.table-item {
  display: table-cell;
  vertical-align: middle;
}

.image {
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

#image1 {
  background-image: url("../images/windows1.jpg");
}

#image2 {
  background-image: url("../images/windows2.jpg");
  order: 2;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-column {
  width: 50%;
  padding: 10px;
}

footer {
  padding: 10px;
  padding-top: 18px;
  color: white;
  background-color: #5C4B28;
}

@media only screen and (min-width: 1016px) {
  .submit-button {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1016px) {
  .form-column {
    width: 100%;
    padding: 0px;
  }

  #form2, .submit-button {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 850px) {
  #image2 {
    order: 0;
  }

  .flex-item {
    width: 100%;
    height: 420px;
  }

  .flex-container {
    flex-direction: column;
  }

  .image {
    height: 140px;
  }
}

@media only screen and (max-width: 600px) {
  .flex-item {
    height: 500px;
  }

  .image {
    height: 140px;
  }

  .table {
    padding-left: 20px;
    padding-right: 20px;
  }

  .call-text {
    position: relative;
  }

  #empty-space {
    height: 135px;
  }
}

@media only screen and (max-width: 435px) {
  .flex-item {
    height: 600px;
  }

  .image {
    height: 140px;
  }
}

@media only screen and (max-width: 435px) {
  .flex-item {
    height: 630px;
  }

  .image {
    height: 120px;
  }
}
